.navbar-container {
  height: 80px;
  display: flex;
  background-color: blueviolet;
  align-items: center;
  justify-content: space-between;
}

.infoApp,
.infoUser {
  display: flex;
  align-items: center;
}

.avataApp,
.avataUser {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 10px;
}

h1,
h2 {
  color: white;
}

.Profile {
  background: none;
  font-size: 40px;
  border: none;
  color: white;
  margin-right: 15px;
}

.infoUser {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
}

.alertBox {
  width: 250px;
  height: auto;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;

  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
}

.alert-btn {
  width: 230px;
  height: 50px;
  margin: 10px;
}
